# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt
import scipy.stats as stats

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [4]:
# Set the date column as the DataFrame index
df['date']= pd.to_datetime(df['date'])
df.set_index('date', inplace=True,)

In [5]:
# Drop the date column
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [6]:
from scipy.stats import ttest_rel

In [17]:
# Filter data for desired months
june_df = df.loc[df.index.month == 6]
dec_df = df.loc[df.index.month == 12]

len(june_df)

1700

In [8]:
# Identify the average temperature for June
june_avg = june_df['tobs'].mean()
june_avg

74.94411764705882

In [9]:
# Identify the average temperature for December
dec_avg = dec_df['tobs'].mean()
dec_avg

71.04152933421226

In [19]:
# Create collections of temperature data ?
print(len(june_df))
print(len(dec_df))

1700
1517

In [20]:
# Run unpaired t-test
results = stats.ttest_ind(june_df['tobs'], dec_df['tobs'])

print(results)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

I used a t-test to determine whether the difference in the means, if any, is statistically significant. I used a unpaired t-test as unpaired t-test are designed to compare the means of indpendent groups under two separate scenarios.While the stations stay the same the lengths of the temp gathered for each timeframe are different.